<div class="title">
    <h1>
        Welcome to
        <a class="api-url" href="https://developers.arcgis.com/javascript/">
            ArcGIS API for JavaScript
        </a>
        using
        <a href="https://github.com/Esri/esri-loader" target="_blank">
            esri-loader
        </a>
        with . . .
    </h1>
  <div class="shipments_container">
    Your shipments
    <div *ngFor="let shipment of shipments" class="shipment_item">
      Carrier: {{ shipment.carrier }} <br>
      Shipping method: {{ shipment.shippingMethod }} <br>
      Estimated date of arrival: {{ shipment.estimatedDeliveryDate }} <br>
    </div>
  </div>
</div>
