<nav class="navbar bg-dark">
  <a style="visibility: hidden"><img src="" class="navbar-img"></a>
  <form *ngIf="!checkLogin()" class="form-inline">
    <div class='container'>
      <button
        [routerLink]="['/login']"
        style="margin-right: 0.5rem"
        type="button"
        class='btn btn-light'>Login</button>
      <button
        [routerLink]="['/signup']"
        type="button"
        class="btn btn-danger">Sign Up</button>
    </div>
  </form>
  <form *ngIf="checkLogin()" class="form-inline">
    <div class='container'>
      <button
        (click)="logout()"
        [routerLink]="['/']"
        type="button"
        class='btn btn-light'>Logout <i class="fa-solid fa-right-from-bracket"></i></button>
    </div>
  </form>
</nav>
