/* import the required JSAPI css */
/* @import url('https://js.arcgis.com/4.12/esri/css/main.css'); */

.esri-view {
  height: 70vh;
}

.checkbox {
  padding: 0rem 2rem;
}

.models {
  margin-top: 1rem;
}