<div class="row" style="overflow-y: hidden">
  <div class="col-2">
    <div style="text-align: center; padding-top: 3rem; padding-bottom: 3rem">
      <button (click)="newShipment()" type="button" class="btn btn-outline-dark">Add new shipment</button>
    </div>
    <div class="col scroll">
      <div *ngFor="let ship of shipments" class="col-sm-4">
        <div class="card" style="width: 18rem;"
             [ngStyle]="{
              'background-color': (ship.shippingMethod == 'TERRESTRIAL') ? '#9c562a'
                : ((ship.shippingMethod == 'AERIAL') ? '#d5f0ea' : '#3782ab')}"
             (click)="selectShipment(ship)">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">{{ship?.trackingNumber}}</h5>
            <p class="card-text" style="text-align: center">{{ship.currentLat}}</p>
            <div style="text-align: center">
              <button type="button" class="btn btn-dark">Check shipment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10" style="padding-left: 2.5rem; padding-right: -10rem; max-width: 80vw">
    <app-map [(shipment)]="selectedShipment" style="padding: 0"></app-map>
  </div>
</div>
